<h1 class="characters">Space List</h1>

<% if @spaces.empty? %>
	YOU DON´T HAVE ANY SPACE
	<%= link_to "Create a new space", new_space_path %>
<% else %>
	<ul>
		<% @spaces.each do |space| %>
			<li class="table-to-right"> <p class="characters"><%= space.name %> <%= link_to " -Delete", space_path(space.id), method: :delete %></p>
				<table class="table2">
				  <tr>
					<% space.start_at.upto(space.end_at) do |i| %>
						<% if @reservations[space.id].include?(i) %>
							<td class="back-red"><%= link_to "info", space_reservation_path(:space_id => space.id, :id => @reservations[space.id][i]), style: 'color:black;' %>  
						<% else %>
							<td class="back-green"><%= link_to "occupy", new_space_reservation_path(:space_id => space.id,
							 :hour => i, :date => Date.today), style: 'color:brown;' %>
						<% end %>
						<br><%= i %>:00 - <%= i+1 %>:00</td>
					<% end %>

				  </tr>
				</table>
			</li>
			
		<% end %>
	</ul> 
	

<% end %>

<br>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> GO TOMORROW
<br>
<br>

<%= " " %> <%= link_to "Home" %>