<h1>space list</h1>

<% if @spaces.empty? %>
	YOU DON´T HAVE ANY SPACE
	<%= link_to "Create a new space", new_space_path %>
<% else %>
	<ul>
		<% @spaces.each do |space| %>
			<li> <%= space.name %>  ---> 
						<% 9.upto(21) do |i| %>
							<%= i %>:00 - <%= i+1 %>:00 ///
						<% end %>
	<!--		<%= space.start_at %>:00 <%= space.end_at %>:00     -->
			<%= link_to " -Delete", space_path(space.id), method: :delete %></li><br>
		<% end %>
	</ul> 
	

<% end %>

<br>
<br>
<br>

<%= link_to "Home", root_path %> - <%= link_to "NewSpace", new_space_path %> -  <%= link_to "Incidences", reservations_incidences_path %>