<h1>space list</h1>

<% if @spaces.empty? %>
	YOU DON´T HAVE ANY SPACE
	<%= link_to "Create a new space", new_space_path %>
<% else %>
	<ul>
		<% @spaces.each do |space| %>
			<li> <%= space.name %> <%= link_to " -Delete", space_path(space.id), method: :delete %>
				<table>
				  <tr>
					<% space.start_at.upto(space.end_at) do |i| %>
						<% if @reservations[space.id].include?(i) %>
							<td style="background-color:red">info
						<% else %>
							<td style="background-color:green"><%= link_to "occupy", new_space_reservation_path(:space_id => space.id,
							 :hour => i, :date => Date.today) %>
						<% end %>
						<br><%= i %>:00 - <%= i+1 %>:00</td>
					<% end %>

				  </tr>
				</table>
			</li>
			
		<% end %>
	</ul> 
	

<% end %>

<br>
<br>
<br>

<%= " " %> <%= link_to "Home" %>