<h1 class="characters">Space List</h1>

<% if @spaces.empty? %>
	YOU DON´T HAVE ANY SPACE
	<%= link_to "Create a new space", new_space_path %>
<% else %>

	<% if @day == Date.today %> 
		<strong class="characters-day"> TODAY - <%= @day %> <%= link_to ">>> Go Tomorrow", spaces_path(:date => @day+1) %></strong>
	<% else %>
		<strong class="characters-day"><%= link_to "<<<1 day before", spaces_path(:date => @day-1) %> - <%= @day.strftime("%A") %> - <%= @day %> - <%= link_to "Next Day>>>", spaces_path(:date => @day+1) %></strong>
	<% end %>             <!-- cambio xa tomorrow -->

	<ul>
		<% @spaces.each do |space| %>
			<li class="table-to-right"> <p class="characters"><%= space.name %> <%= link_to " -Delete", space_path(space.id), method: :delete %></p>
				<table class="table2">
				  <tr>

						<% space.start_at.upto(space.end_at) do |i| %>
							<% if @reservations[space.id].include?(i) %>
								<td class="back-red"><%= link_to "info", space_reservation_path(:space_id => space.id, :id => @reservations[space.id][i]), :date => @day, style: 'color:black;' %>  
							<% else %>
								<td class="back-green"><%= link_to "occupy", new_space_reservation_path(:space_id => space.id,
								 :hour => i, :date => @day), style: 'color:brown;' %>
							<% end %>
							<br><%= i %>:00 - <%= i+1 %>:00</td>
						<% end %>

				  </tr>
				</table>
			</li>
			
		<% end %>
	</ul> 
	

<% end %>

<br>

<br>
<br>

<%= link_to "Home", "/" %> - <%= link_to "NewSpace", new_space_path %> - <%= link_to "Incidences", reservations_incidences_path %>