<h1>space list</h1>

<% if @spaces.empty? %>
	YOU DON´T HAVE ANY SPACE
	<%= link_to "Create a new space", new_space_path %>
<% else %>
	<ul>
		<% @spaces.each do |space| %>
			<li> <%= space.name %> </li>
		<% end %>
	</ul> 
	

<% end %>

<br>
<br>
<br>

<%= link_to "Home", root_path %> - <%= link_to "Edit", new_space_path %> -  <%= link_to "Incidences", reservations_incidences_path %>