<h1>nuevo espacio</h1>

<%= form_for @space do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, size: 4 %>
	<br>
	<%= f.label :start_at %>
	<%= f.select :start_at, (0..23).to_a %>
	<br>
	<%= f.label :end_at %>
	<%= f.select :end_at, (0..23).to_a%>
	<br>

	<%= f.submit 'Save', class: "small round button" %>
	<%= link_to 'Cancel', spaces_path %>
<% end %>



<% 9.upto(21) do |i| %>
	<%= i %>:00 - <%= i+1 %>:00 <br>
<% end %>

<br>

<%= link_to "Home", root_path %>