<h1>Create Incidences</h1>

Sala <%= @reservation.id_space %> 


<%= form_for [@reservation] do |f| %>
  <%= f.label :incidences %>
  <%= f.text_field :incidences %>
  <br>

  <%= f.submit 'Save' %> <%= link_to "Incidences", reservations_incidences_path %>
<% end %>