<h1>Create Incidences</h1>

Sala <%= @reservation.id_space %> - Incidence: <input type="text" name="fname" %>

<input type="submit" value="Create Incidence">


<%= form_for [@reservation] do |f| %>
  <%= f.label :incidences %>
  <%= f.text_field :incidences %>
  <br>

  <%= f.submit 'Save' %> <%= link_to "Incidences", reservations_incidences_path %>
<% end %>