<br>
<br>
<div class="sidedar large-4 columns left">&nbsp;</div>
<div class="large-4 columns">

	<h1 class="characters">Create Incidences</h1>

	<%= @reservation.space.name %> 

	<% if @reservation.incidences == nil || @reservation.incidences == "" %>

		<%= form_for [@reservation.space, @reservation] do |f| %>
		  <%= f.label :incidences %>
		  <%= f.text_field :incidences, :autofocus => true %>
		  <br>

		  <%= f.submit 'Save' %> <%= link_to "Incidences", reservations_incidences_path %>
		<% end %>

	<% else %>

		
		
	<% end %>

</div>