%br/
%br/
.sidedar.large-4.columns.left  
.large-3.columns
  %h1.characters Edit Reserve
  %h3.characters= @reservation.space.name
  %br/
  = form_for [@reservation.space, @reservation] do |f|
    .field
      = f.label :customer
      = f.text_field :customer, :autofocus => true
    .field
      = f.label :date
      = f.text_field :date, :disabled => true
    .field
      = f.label :hour
      = f.text_field :hour, :disabled => true
    %br
    .field
      = f.submit 'Save', class: "small round button"
      = link_to 'Cancel', spaces_path
  = link_to 'Show', space_reservation_path(space_id: @reservation.space_id, id: @reservation.id)

  = link_to 'Back', space_reservations_path(space_id: @reservation.space_id)
