<h1>List of incidences</h1>

<ul>
		<% @reservations.each do |reservation| %>
			<% if reservation.incidences == nil || reservation.incidences == "" %>
				
			<% else %>
				<li> 
					 <strong><%= reservation.space.name %></strong> - <%= reservation.date %> -  <%= reservation.hour %>:00h - <strong>User: </strong>"<%= reservation.customer %>"  ---- <strong>Incidence: </strong><strong class="red"><%= reservation.incidences %></strong>  ---- <%= link_to "delete", edit_space_reservation_path(:space_id => reservation.space_id, :id => reservation.id) %>
				</li>
			<% end %>
		<% end %>
</ul> 

<br>
<br>
<br>

<%= link_to "Home", root_path %> - <%= link_to "Edit", new_space_path %> -  <%= link_to "Visuality spaces", spaces_path %>