<h1>List of incidences</h1>

<ul>
		<% @reservations.each do |reservation| %>
			<% if reservation.incidences == nil %>
				
			<% else %>
				<li> 
					Sala <%= reservation.space.name %> - Incidence: <%= reservation.incidences %> Date: <%= reservation.date %> Hour: <%= reservation.hour %>:00 - <%= link_to "delete", delete_incidence_path(reservation) %>
				</li>
			<% end %>
		<% end %>
</ul> 

<br>
<br>
<br>

<%= link_to "Home", root_path %> - <%= link_to "Edit", new_space_path %> -  <%= link_to "Visuality spaces", spaces_path %>