<!--  space_reservation GET    /spaces/:space_id/reservations/:id(.:format)      reservations#show  -->

<h1>----INFO----</h1>



	<h1><%= @reservation.space.name %></h1> <p class="green"><%= link_to "#Release#", space_reservation_path(@reservation.space, @reservation), method: :delete %></p>

	<h3>Customer: <strong><%= @reservation.customer %></strong></h3>
	<% d = @reservation.date %>
	<h3>Day: <strong><%= d.strftime("%A - %d - %B ") %></strong></h3>
	<h3>Hour: <strong><%= @reservation.hour %>:00 - <%= @reservation.hour+1 %>:00 </strong></h3>

	<% if @reservation.incidences == nil || @reservation.incidences == "" %>
		<h2>***NO INCIDENCES***</h2>
		<%= link_to "--Create Incidence--", edit_space_reservation_path(:space_id => @reservation.space_id, :id =>       @reservation.id) %>
	<% else %>
		<h3>Incidences: <strong class="red"><%= @reservation.incidences %></strong></h3>
	<% end %>
	
	<br>

	

	<br>
	<br>
	<br>
	<br>
	<br>

<%= link_to "Home", root_path %> - <%= link_to "Edit", new_space_path %> -  <%= link_to "Incidences", reservations_incidences_path %> - <%= link_to "Visuality spaces", spaces_path %>
