<br/>
<br/>
<div class="sidedar large-4 columns left"> </div>
<div class="large-5 columns">
  <h1 class="characters">INFO</h1>
  <h1>
    <%= @reservation.space.name %>
  </h1>
  <p class="green">
    <%= link_to "#Release#", space_reservation_path(@reservation.space, @reservation), method: :delete %>
  </p>
  <h3>
    Customer:
    <strong>
      <%= @reservation.customer %>
    </strong>
  </h3>
  <% d = @reservation.date %>
  <h3>
    Day:
    <strong>
      <%= d.strftime("%A - %d - %B ") %>
    </strong>
  </h3>
  <h3>
    Hour:
    <strong><%= @reservation.hour %>:00 - <%= "#{@reservation.hour+1}" %>:00</strong>
  </h3>
  <%= button_to "Edit reservation", edit_space_reservation_path(space_id: @reservation.space_id, id: @reservation.id), method: :get, class: "button secondary tiny" %>
  <% if @reservation.incidences.blank? %>
    <h2>**NO INCIDENCES**</h2>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Incidences</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reservation.incidences.order(:created_at).each do |incidence| %>
          <tr>
            <td class="red">
              <%= incidence.body %>
            </td>
            <td>
              <%= link_to "Edit Incidence", edit_incidence_path(incidence) %>
            </td>
            <td>
              <%= link_to "Delete Incidence", incidence_path(incidence), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <h5>
    <%= link_to "Create Incidence", new_incidence_path(:reservation_id => @reservation.id) %>
  </h5>
  <br/>
  <br/>
  <%= link_to "Home", root_path %> - 
  <%= link_to "Incidences", incidences_path %> - <%= link_to "Visuality spaces", spaces_path %>
</div>
