<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      $(document).foundation();
    </script>
    <!--<script src="js/foundation.min.js"></script>
    <script src="js/vendor/jquery.js"></script>-->

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "SpaceManager" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body class= "content-text fondo">
    <%= render 'layouts/header' %>
    
    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>